Repository Recipe-Web-App/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, go, tests, database, auth, api, middleware, scripts, kubernetes

docs(claude): updated claude docs
  CLAUDE.md
Labels: documentation

docs: updated docs with latest repo information
  README.md
  docs/api/API_REFERENCE.md
Labels: documentation

fix: updated repo to use correct username (jsamuelsen11)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/dependabot.yml
  .vscode/settings.json
  cmd/client-manager/main.go
  cmd/server/main.go
  go.mod
  internal/auth/client.go
  internal/auth/oauth2.go
  internal/auth/token_ops.go
  internal/auth/user_service.go
  internal/config/config_test.go
  internal/database/database.go
  internal/handlers/health.go
  internal/handlers/oauth2.go
  internal/handlers/user_auth.go
  internal/middleware/middleware.go
  internal/models/errors_test.go
  internal/models/oauth2_test.go
  internal/redis/client.go
  internal/redis/memory_store.go
  internal/repository/postgres_user_repository.go
  internal/repository/user_repository.go
  internal/startup/client_registration.go
  internal/token/jwt.go
  internal/token/jwt_test.go
  pkg/logger/logger.go
  test/integration/redis_test.go
Labels: dependencies, github, configuration, go, tests, database, auth, api, middleware

chore: updated pre-commit depends
  .pre-commit-config.yaml
Labels: configuration, kubernetes

ci(pre-commit-ci): added pre-commit config for auto-updates
  .pre-commit-config.yaml
Labels: configuration, kubernetes

.github/labeler.yml:

---
# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Dependencies
dependencies:
  - go.mod
  - go.sum

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*
  - CLAUDE.md
  - README.md

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - .env.example

# Source code
go:
  - '**/*.go'
  - cmd/**/*
  - internal/**/*
  - pkg/**/*

# Tests
tests:
  - '**/*_test.go'

# Database
database:
  - internal/database/**/*
  - internal/repository/**/*

# Auth/OAuth2
auth:
  - internal/auth/**/*
  - internal/token/**/*

# API/Handlers
api:
  - internal/handlers/**/*

# Middleware
middleware:
  - internal/middleware/**/*

# Scripts
scripts:
  - scripts/**/*
  - '**/*.sh'

# Kubernetes
kubernetes:
  - k8s/**/*
  - '**/*.yaml'
